* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  background-image: url('/src/img/think.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 500 !important;
    font-size: 20px !important;
    color: #1F1300 !important;
    transition: all 0s !important;
    cursor: default;
    overflow-x: hidden; /* Prevent horizontal scroll */ 
}

nav {
  background-image: url('/src/img/thinkn.jpeg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3% !important;
  padding-top: 1% !important;
  position: fixed !important;
  width:100%;
  height: 3%;
  top: 0;
  z-index: 99;
}

nav p {
  cursor: default;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #1F1300;
}

.subjects {
  padding: 10% 0%;
}

.subj-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the grid items */
}

.subject {
  flex: 0 0 calc(33% - 20px); /* Adjust width here, 20px accounts for margins */
  height: 30vh;
  margin: 10px; /* Adjust margin as needed */
  background-color: #982505f6;
  padding: 5%;   
  border-radius: 10px;
  border: 4px solid rgb(103, 51, 21);
  color: rgb(252, 254, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.difficulties {
  font-size: 16px;
  text-align: center;
}

.subject button {
  border: none;
  background: none;
  color: rgb(252, 254, 255);
}

.subject button:hover {
  color: #ffac05 !important;
  font-size: 16.5px;
  transition: 0.2s !important;
}

.question-row {
  margin: 3%;
  padding: 2%;
  background-color: #982505f6;
  width: 100%;
  border-radius: 10px;
  color: #ffffff;
}

.question-display {
  margin: 10%;
}

.question-row h4 {
  margin-bottom: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-container input[type="radio"] {
  display: none;
}

.custom-radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ffac05;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.custom-radio::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cb9108;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

input[type="radio"]:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-label {
  cursor: pointer;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10% 0;
}

.pagination-buttons button{
  background-color: #cb9108;
  color: white;
  padding: 0.5% 1%;
  border:2px solid #3d2902;
  border-radius: 5px;
}
.pagination-buttons button:hover {
  background-color: #3d2902;
  border:2px solid #cb9108;
  transition: all 0.5s;
}

.results-container{
  margin: 8%;
  
}
.results-container h2{
  font-size: 25px;
  color: white;
  background-color: #cb9008a5;
  padding: 1%;
  border-radius: 5px;
}
.quest-ans{
  background-color: #982505f6;
  margin-bottom: 2%;
  padding: 3%;
  border-radius: 10px;  
  color: white;
}
.question-review{
  list-style: none;
}

.questionn{
  font-size: 20px;
}
.back-btn button{
  background-color: #cb9108;
  color: white;
  padding: 0.5% 1%;
  border:2px solid #3d2902;
  border-radius: 5px;
}
.back-btn button:hover {
  background-color: #3d2902;
  border:2px solid #cb9108;
  transition: all 0.5s;
}
/* Mobile Styles */
@media (max-width: 768px) {
 
  nav {
    padding: 2% 5% !important;
  }
  .subject {
      flex: 0 0 calc(100% - 20px);
      margin: 0px;
      margin-top:10%;
      height: auto;
      width: 100%;
  }

  .subj-grid {
      flex-direction: column;
      align-items: center;
  }

  .question-row {
    margin: 5% 0% !important ;
  }

  .navigation-buttons {
      flex-direction: column;
      align-items: center;
  }

  .navigation-buttons button {
      width: 100%;
      margin-bottom: 10px;
  }
}

