@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

*/{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #35da9b;
}

.head{
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 9%;
  color: #ffff;
  font-family: 'Skranji', cursive;
  font-weight:bolder;
  font-size:70px;
  -webkit-text-stroke: 0.01px rgba(12, 90, 33, 0.844);
  width: 100%;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.45);
  border-radius: 0 0 2px 2px ;
}

.main{
  Padding: 4%;
  margin-bottom: 30px;
  border: 0.5px solid rgba(10, 93, 64, 0.676) ; 
  border-radius: 10px;
  width:70%;
  background-color:rgb(44, 188, 137);
  box-shadow: 0px 0px 24px 2px rgba(10, 98, 67, 0.52);
 -webkit-box-shadow: 0px 0px 24px 2px rgba(10, 98, 67,0.52);
 -moz-box-shadow: 0px 0px 24px 2px rgba(10, 98, 67,0.52); 
}

ul{
  padding-top: 2%;
  padding-left:30% ;
  margin:0;
}

li{
  list-style-type: none ;
}

.options{
  width: 60%;
  margin-bottom: 3%;
}

.navigate{
  margin-left: 3%;
}

.back{
  margin-top: 4%;
}

progress {
  margin-top: 5%;
  width: 80%;
  height: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(162, 242, 217);
}
progress::-webkit-progress-bar {
  background-color: rgb(162, 242, 217);
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #11562d;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background-color: #11562d;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  border-radius: 10px;
  background-color: rgb(162, 242, 217);
}

progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: #11562d;
}
